<form action="http://ssomf.hyperchat.com/cgi-bin/somf.exe#newtalk" method="POST">
    <!--
    <input type="hidden" name="vqvcook" value="1">
    <input type="hidden" name="vqxsq" value="xg445kh92jg554d9afcg554d957c">
    -->

    <!--
    <input type="hidden" name="vqxro" value="soi@soi">
    -->

    Username:
    <input type="text" name="vqxha" size="20" value="Visitor">
    <br>
    Password:
    <input type="password" name="vqxpa" size="20" value="">
    <br>
    <select name="vqxro">
        <option>testdice@soi</option>
        <option>dice@soi</option>
        <option>chatplus@soi</option>
        <option>soi@soi</option>
    </select>
    <br>
    <input type="submit" name="vqvaj" value="Submit">
</form>