<style>
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    iframe {
        display: block;
        border: 1px solid mediumvioletred;
        z-index: 900;
    }

    #tab-names {
        display: block;
        width: 100%;
        background: silver;
        color: black;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        overflow: visible;
    }
</style>


<div id="tab-names"></div>
<div id="room-tabs"></div>