<style>
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    iframe {
        display: block;
        border: 1px solid mediumvioletred;
        z-index: 900;
    }

    #tab-names {
        display: block;
        width: 100%;
        background: silver;
        color: black;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        overflow: visible;
    }

    #tab-names-settings {
        float: right;
    }

    #tab-names button {
        display: inline-block;
        width: 8em;
        text-align: center;
    }

    #tab-names #tab-names-settings {
        color: red;
        width: auto;
        display: inline;
    }
</style>


<div id="tab-names">
    <button id="tab-names-settings"><i class="fa fa-cogs"></i></button>
</div>

<div id="room-tabs"></div>