<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hyperchat.athelon" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chat Plus</name>
    <description>
        HyperChat Tool
    </description>
    <author email="athelon@hyperchat.com" href="http://cordova.io">
        Geek Athelon
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
